{% extends 'layout.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row justify-content-between mb-2 mt-2">
                    <h2 class="ml-3">Добавить проект</h2>
                    <a href="/queue/regular/">
                        <button type="button" class="btn btn-primary btn-sm mr-3 mb-2 mt-2"><< Стандартная очередь</button>
                    </a>
                </div>
                <form action="" method="post" class="needs-validation" novalidate>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="url">Url-адреса</label>
                            <textarea class="form-control {% if errors.url %}{{ 'is-invalid' }}{% endif %}" name="url" id="url" cols="30" rows="2" placeholder="https://" tabindex="1"></textarea>
                            <small id="urlhelp" class="form-text text-muted">Вводится один или несколько Url с новой строки</small>
                            <div class="invalid-feedback">
                                {{ errors.url.msg }}
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <div class="form-group">
                                <label for="inputState">Тип формирования <b>sitemap</b></label>
                                <span class="float-right mt-1 badge badge-pill badge-primary badge-help">?</span>
                                <select class="custom-select" name="sitemapType" id="inputState" tabindex="2">
                                    <option value="default" selected>Весь сайт / с ограничением</option>
                                    <option value="custom">Только указанные Url</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input name="respectRobotsTxt" class="form-check-input" type="checkbox" checked value="1" id="respectRobotsTxt" tabindex="3">
                                    <label class="form-check-label" for="respectRobotsTxt">
                                        <b>В соответствии с robots.txt</b>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="sitemapCount">Ограничение по количеству Url</label>
                            <input type="number" class="form-control {% if errors.sitemapCount or errors.sitemapType %}{{ 'is-invalid' }}{% endif %}" name="sitemapCount" id="sitemapCount" placeholder="1... 5... 25..." tabindex="4">
                            <small id="urlhelp" class="form-text text-muted">Необязательный параметр</small>
                            <div class="invalid-feedback">
                                {{ errors.sitemapCount.msg }}
                                {{ errors.sitemapType.msg }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="select-tests">Список доступных тестов</label>
                            <span class="float-right mt-1 badge badge-pill badge-primary badge-sitemap">?</span>
                            <select class="custom-select" name="tests" size="4" id="select-tests" multiple tabindex="5">
                                <option value="all" selected>Использовать все доступные</option>
                                {% for test in tests %}
                                   <option value="{{ test.filename }}">{{ test.name }}</option>
                                {% endfor %}
                            </select>
                            <small id="urlhelp" class="form-text text-muted">Выбирать через Ctrl</small>
                        </div>

                        <div class="form-group col-md-3">
                            <div class="form-group">
                                <label for="username">Логин</label>
                                <input type="text" class="form-control {% if errors.username %}{{ 'is-invalid' }}{% endif %}" name="username" id="username" placeholder="ex: beta" tabindex="6">
                                <div class="invalid-feedback">
                                    {{ errors.username.msg }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input name="isauth" class="form-check-input" type="checkbox" value="1" id="isauth" tabindex="8">
                                    <label class="form-check-label" for="isauth">
                                        <b>Нужна http-авторизация</b>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <div class="form-group">
                                <label for="password">Пароль</label>
                                <input type="text" class="form-control {% if errors.username %}{{ 'is-invalid' }}{% endif %}" id="password" name="password" placeholder="ex: beta" tabindex="7">
                                <div class="invalid-feedback">
                                    {{ errors.password.msg }}
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" name="submit" class="btn btn-outline-primary is-valid" tabindex="8">Добавить в очередь</button>
                                <span class="float-right badge badge-pill badge-primary badge-add" data-original-title="" title="">?</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><h2 class="text-success">Выполняются</h2></p>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col col-sm-2 align-middle">Проект</th>
                        <th class="col col-sm-2 align-middle">Добавлено</th>
                        <th class="col col-sm-2 align-middle">Запущено</th>
                        <th class="col col-sm-2 align-middle">Завершено</th>
                        <th class="col col-sm-1 align-middle">Затрачено</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in projects if item.testing %}
                        <tr>
                        <td class="col col-sm-2 align-middle">
                            <h6 class="mb-auto">{{ item.project }}
                                {% if item.extra == true %}
                                <span class="badge badge-secondary" data-toggle="tooltip" data-placement="top" title="Extra Project">E</span>
                                {% endif %}
                            </h6>
                        </td>
                        <td class="col col-sm-2 align-middle">{{ item.dateStartPrint }}</td>
                        <td class="col col-sm-2 align-middle">{{ item.dateStartPrint }}</td>
                        <td class="col col-sm-2 align-middle">выполняется</td>
                        <td class="col col-sm-1 align-middle">выполняется</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><h2>В очереди</h2></p>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col col-sm-2 align-middle">Проект</th>
                        <th class="col col-sm-2 align-middle">Добавлено</th>
                        <th class="col col-sm-2 align-middle">Запущено</th>
                        <th class="col col-sm-2 align-middle">Завершено</th>
                        <th class="col col-sm-1 align-middle">Затрачено</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in projects if item.new %}
                    <tr>
                        <td class="col col-sm-2 align-middle">
                            <h6 class="mb-auto">{{ item.project }}
                                {% if item.extra == true %}
                                <span class="badge badge-secondary" data-toggle="tooltip" data-placement="top" title="Extra Project">E</span>
                                {% endif %}
                            </h6>
                        </td>
                        <td class="col col-sm-2 align-middle">{{ item.dateAddPrint }}</td>
                        <td class="col col-sm-2 align-middle">В очереди</td>
                        <td class="col col-sm-2 align-middle">В очереди</td>
                        <td class="col col-sm-1 align-middle">В очереди</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><h2 class="text-muted">Завершенные</h2></p>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col col-sm-2 align-middle">Проект / отчеты</th>
                        <th class="col col-sm-2 align-middle">Добавлено</th>
                        <th class="col col-sm-2 align-middle">Запущено</th>
                        <th class="col col-sm-2 align-middle">Завершено</th>
                        <th class="col col-sm-1 align-middle">Затрачено</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in projects if item.finish %}
                    <tr>
                        <td class="col col-sm-2 align-middle">
                            {% if not item.error %}
                            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group" role="group" aria-label="First group">
                                    <a class="mt-1 mb-1" target="_blanck" href="/queue/custom/{{ item.project }}/">
                                    <h6 class="mb-auto">{{ item.project }}
                                        {% if item.extra == true %}
                                        <span class="badge badge-secondary" data-toggle="tooltip" data-placement="top" title="Extra Project">E</span>
                                        {% endif %}
                                    </h6>
                                    </a>
                                </div>

                                <div class="input-group">
                                    <a class="float-right text-success" href="/queue/custom/{{ item.project }}/download/"><button type="button" class="btn btn-outline-primary btn-sm">Скачать</button></a>
                                </div>
                            </div>
                            {% else %}
                            <h6 class="mb-2 mt-1">{{ item.project }}
                                {% if item.extra == true %}
                                <span class="badge badge-secondary" data-toggle="tooltip" data-placement="top" title="Extra Project">E</span>
                                {% endif %}
                            </h6>
                            {% endif %}
                        </td>
                        <td class="col col-sm-2 align-middle">{{ item.dateAddPrint }}</td>
                        <td class="col col-sm-2 align-middle">{{ item.dateStartPrint }}</td>
                        <td class="col col-sm-2 align-middle">{{ item.dateFinishPrint }}</td>
                        <td class="col col-sm-1 align-middle">
                            {% if item.error %}
                            <span class="badge badge-pill badge-danger" data-toggle="tooltip" data-placement="top" title="{{ item.error }}">Error</span>
                            {% else %}
                                <span>
                                {% if item.workTimeMin < 1 %}
                                    < 1 мин.
                                {% else %}
                                    {{ item.workTimeMin }} мин.
                                {% endif %}
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<script src="/javascripts/custom.js"/>
<script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
</script>
{% endblock %}
