{% extends 'layout.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row justify-content-between mb-2 mt-2">
                <div class="h2 col-3">Выполняется</div>
                <a href="/queue/custom/">
                    <button type="button" class="btn btn-primary btn-sm mr-3 mb-2 mt-2">Интерфейс &gt;&gt;</button>
                </a>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th class="col col-sm-3">Проект</th>
                    <th class="col col-sm-3">Дата начала</th>
                    <th class="col col-sm-3">Дата завершения</th>
                    <th class="col col-sm-3">Время выполнения</th>
                </tr>
                </thead>
                <tbody>
                {% for item in projects if item.testing %}
                <tr>
                    <th class="col col-sm-3">{{ item.project }}</th>
                    <td class="col col-sm-3">{{ item.dateStartPrint }}</td>
                    <td class="col col-sm-3">выполняется</td>
                    <td class="col col-sm-3">выполняется</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p><h2>Завершенные</h2></p>
            <table class="table">
                <thead>
                <tr>
                    <th class="col col-sm-3">Проект</th>
                    <th class="col col-sm-3">Дата начала</th>
                    <th class="col col-sm-3">Дата завершения</th>
                    <th class="col col-sm-3">Время выполнения</th>
                </tr>
                </thead>
                <tbody>
                {% for item in projects if item.finish %}
                <tr>
                    <th class="col col-sm-3"><a target="_blanck" href="/queue/regular/{{ item.project }}/">{{ item.project }}</a></th>
                    <td class="col col-sm-3">{{ item.dateStartPrint }}</td>
                    <td class="col col-sm-3">{{ item.dateFinishPrint }}</td>
                    <td class="col col-sm-3">
                        <span {% if item.error %} data-toggle="tooltip" data-placement="top" title="{{ item.error }}" style="cursor:pointer; color:red" {% endif %}>
                        {% if item.workTimeMin < 1 %}
                            < 1 мин.
                        {% else %}
                            {{ item.workTimeMin }} мин.
                        {% endif %}
                        </span>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}
