{% extends 'layout.twig' %}

{% block body %}
    <span id="warning-container"><i data-reactroot=""></i></span>
    <div class="container">
        <div class="row">
            <div class="col"><h1>Список отчетов - {{ project }}</h1>
                {% for report in reports %}
                    <div><a href="{{ report.url }}">Тест {{ report.name }}</a></div>
                {% endfor %}
                <div><a href="404.html">Тест Битые ссылки</a></div>
                <div><a href="bug_report_link.html">Тест Сообщить об ошибке</a></div>
                <div><a href="console_errors.html">Тест Ошибки в консоли</a></div>
                <div><a href="img.html">Тест &lt;img&gt;</a></div>
                <div><a href="inline_styles.html">Тест Инлайновые стили</a></div>
                <div><a href="mail_and_tel_tipographics.html">Тест Проверка наличия tel: и mailto: в телефонных номерах
                        и email</a></div>
                <div><a href="standard_absolute_path.html">Тест Стандарт публикации - абсолютные ссылки</a></div>
                <div><a href="w3c.html">Тест W3C</a></div>
                <div><a href="zstandard_typographics.html">Тест Стандарт публикации - типографика</a></div>
            </div>
        </div>
    </div>
    <div id="wot-new-assistant-container">
        <div data-reactroot=""></div>
    </div>

{% endblock %}
