doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title  Autotests Report - #{project}
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    body
        div.container
            div.row
                div.col
                    h1 Список отчетов
                    each key in tests
                        div
                            a(href=key+'.html') Тест #{reportNames[key]}
