doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title  Autotests Report - #{testName}
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    body
        div.container
            div.row
                div.col
                    h1 Результаты теста #{testName}
                    p Отчет сгененирован #{date}
                    each resultsPart, key in results
                        if (resultsPart.length)
                            h3.mt-4
                                a(href=key) #{key}
                            each item in resultsPart
                                div
                                    span #{item.url}
                                    if (testCode == "error404")
                                        span  (#{item.links404})
                                    if (testCode == "favicon")
                                        span  (#{item.links404})

